*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    display: flex;
}

.container{
    display: flex;
}


.img1{
    width: 50%;
    height:100vh;       
    min-width: 350px;
}

.container_form{
    width: 50%;
    padding: 50px 100px;

}

.logo{
    border: 1px solid #243e3a;
    border-radius: 150px;
    box-shadow: 0 0 20px rgb(17, 54, 17);
    height: 190px;
    margin-bottom: 50px ;
    margin-left: 142px;
}
form{
    padding-left: 100px;
}
form p{
    margin-bottom: 20px;
}

form label{
    display: block;
    font-weight: bold; /* propriedade ultilizada para deixar o texto em neguito*/
    margin-bottom: 10px;
}

form input{
    padding: 10px;
    width: 60%;
    font-size: 16px;
    border-radius: 5px;
}
form input:focus{
    outline: none;
    border: 2px solid  rgb(17, 54, 17);

}

button{
    padding: 10px;
    width: 60%;
    font-size: 16px ;
    margin-bottom:25px ;
    border-radius: 5px;
    color: #000000;
    background-color: #243e3a;
    outline: none;
    border: 2px solid rgb(5, 5, 5);

}

button:hover{
    background-color: rgb(59, 112, 59);
}

a .link{
    color: blue;
}
.Cadastre-se{
    padding-left: 10px;
}